@page "/counter"

@inject NavigationManager Navigation

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current URL: @currentUrl</p>

<p>Base URI: @baseUri</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    string? currentUrl;
    string? baseUri;

    protected override void OnInitialized()
    {
        // Get the current URL
        currentUrl = Navigation.Uri;
        baseUri = Navigation.BaseUri;
    }
}
